/*@import url('https://fonts.googleapis.com/css?family=Avenir');*/

:root, body, * {
    /* CSS variable */
    --bg-one: #E7FFFF;
    --bg-two: #C2C2C2;
    --bg-three: #333;
    --txt-one: #333;
    --txt-two: #003552;
    /*--acc-one: ;
    --acc-two: ;
    --acc-three: ;
    --acc-four: ;
    --acc-five: ;
    --acc-six: ;*/
    --fffa: rgba(255, 255, 255, 0.1);
    /* Element reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 0.1px solid #F00;*/
}

@font-face {
    font-family: Avenir;
    src: url("https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA55d-m2FJXA&skey=8887f17a62203d44&v=v2"),
    url("https://fonts.gstatic.com/l/font?kit=ijwUs5PnXdA4ZZUA6Zd-m2FJXA&skey=8887f17a62203d44&v=v2");
    font-display: swap;
}

body {
    background-image: linear-gradient(var(--bg-three), var(--bg-one));
    font-family: Avenir, sans-serif;
}

.grid {
    display: grid;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /*align-items: flex-start;*/
    align-content: space-between;
    /*justify-items: flex-start;*/
    justify-content: space-between;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg-one);
    padding: 20px;
    text-align: left;
}

main {
    padding: 20px;
    background-color: var(--bg-two);
    color: var(--bg-three);
}

footer {
    background-color: var(--bg-three);
    width: 100%;
    padding: auto;
}

h1 {
    color: var(--txt-two);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px var(--bg-three);
    padding-bottom: 0.75rem;
}

h2 {
    color: var(--txt-one);
    text-align: left;
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
}

h3 {
    text-align: left;
    font-size: 1.375rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.75rem 0 0.5rem 0;
}

p {
    color: var(--bg-three);
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: left;
    padding-bottom: 10px;
}

header img {
    width: 50%;
    height: auto;
    padding: 0 auto;
    /* border: 3px solid var(--txt-two);
    border-radius: 100%; */
}

footer a {
    display: inline-block;
    padding: 5px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.center {
    text-align: center;
}

.project, .wip {
    /*background-color: var(--fffa);*/
    min-width: 280px;
    max-width: 374px;
    padding: 10px 0;
    /*border: 1px solid var(--bg-three);*/
    border-radius: 10px;
    /*align-self: center;
    justify-self: flex-start;*/
}

.project img {
    width: 100%;
    border-radius: 10px;
}

.project h3 a {
    text-decoration: none;
    /*text-shadow: 1px 1px 1px var(--bg-three);*/
    color: var(--txt-two);
}

.project h3 a:hover::after {
    content: " >";
}

.wip h3 {
    padding-top: 0;
    color: var(--txt-two);
}

.wip h3:hover::after {
    content: " wip";
    color: var(--txt-one);
    text-transform: lowercase;
}

.tag-list {
    list-style-type: none;
    /*margin-bottom: 20px;*/
    text-align: left;
}

.tag-list li {
    display: inline-block;
    /*float: left;*/
    margin: 0 0 3px 0;
    padding: 3px 5px;
    font-style: italic;
    font-size: 0.875rem;
    background-color: var(--bg-one);
    color: var(--txt-one);
    border: 1px solid var(--bg-three);
    border-radius: 4px;
}

@media only screen and (max-width: 480px) {
    .grid {
        grid-template-areas:
                "header"
                "projects"
                "footer";
        grid-template-rows: minmax(414px, auto) minmax(300px, auto) 30px;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        grid-auto-rows: fit-content(100%);
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: projects;
    }

    footer {
        grid-area: footer;
    }

    .project, .wip {
        max-width: 374px;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .grid {
        display: grid;
        width: 100%;
        grid-template-areas:
                "header"
                "projects"
                "footer";
        grid-template-rows: minmax(1fr, max-content) minmax(1fr, max-content) 30px;
        grid-template-columns: 1fr;
    }

    header {
        grid-area: header;
    }

    main {
        grid-area: projects;
    }

    footer {
        grid-area: footer;
    }

    .snap {
        flex: 1;
    }

    .about-me {
        flex: 1;
    }

    .project, .wip {
        flex: 1;
        flex-basis: 45% !important;
        min-width: 300px;
        max-width: 354px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .grid {
        grid-template-areas:
                "header projects"
                "footer footer";
        grid-template-rows: minmax(768px, 100%) 30px;
        grid-template-columns: 1fr 1fr;
    }

    header {
        grid-area: header;
        align-items: flex-start;
        align-content: flex-start;
        justify-items: center;
        justify-content: stretch;
    }

    main {
        grid-area: projects;
    }

    footer {
        grid-area: footer;
    }

    .project, .wip {
        max-width: 100%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1600px) {
    .grid {
        grid-template-areas:
                "header projects footer";
        grid-template-rows: minmax(1024px, 1080px);
        grid-template-columns: 414px 1fr 100px;
    }

    header {
        grid-area: header;
        align-items: flex-start;
        align-content: flex-start;
        justify-items: center;
        justify-content: stretch;
    }

    main {
        grid-area: projects;
    }

    footer {
        grid-area: footer;
    }

    .project, .wip {
        flex: 1;
        flex-basis: 50% !important;
        /*width: 354px;*/
    }
}

@media only screen and (min-width: 1600px) {
    .grid {
        grid-template-areas:
                "header projects footer";
        grid-template-rows: minmax(1024px, 1080px);
        grid-template-columns: 1fr 2fr 200px;
    }

    .flex {
        flex-flow: wrap;
    }

    header {
        grid-area: header;
        align-items: stretch;
        align-content: stretch;
        justify-items: flex-start;
        justify-content: flex-start;
    }

    main {
        grid-area: projects;
    }

    footer {
        grid-area: footer;
    }

    h1 {
        color: var(--txt-two);
        font-size: 4rem;
        text-shadow: 2px 2px 4px var(--bg-three);
        padding-bottom: 1.5rem;
    }

    h2 {
        color: var(--txt-one);
        text-align: left;
        font-size: 3rem;
        padding-bottom: 1.5rem;
    }

    h3 {
        text-align: left;
        font-size: 2.25rem;
        font-weight: normal;
        text-transform: uppercase;
        padding: 1.25rem 0 0.75rem 0;
    }

    p {
        font-size: 2rem;
        line-height: 3rem;
        text-align: left;
    }

    .project, .wip {
        flex: 1;
        flex-basis: 50% !important;
    }
}

